:root {
  --nav-width: 92px;
  --first-color: #0c5df4;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #fff;

  --body-font: "Poppoins", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
}
.link {
  text-decoration: none;
}


.main {
  position: relative;
  top: 56px;
  left: 270px;
  width: calc(100% - 270px);
 
}
